.env
.env.*
!.env.example

.venv/
env/
venv/
ENV/

__pycache__/
*.py[cod]
*$py.class
*.so
.Python

.ipynb_checkpoints/
*/.ipynb_checkpoints/*

.pytest_cache/
.coverage
htmlcov/

.vscode/
.idea/
*.swp
*.swo
